@using Data.Service
@inject IBlockRepository _IBlockRepository
@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
    var masters = Model.Masters;
    var Masterwithoutcategory = masters.Where(e => e.MasterCategoryId == null);
    var mastersCategories = Model.MastersCategories;
    var activitiesHome = Model.Activities;
    var HomePage = Model.HomePageBlock;

}



<div class="intro__page d-flex align-items-center">
    <div class="container py-lg-100 py-70">
        @if (HomePage != null)
        {
            <div class="row align-items-center">
                <div class="col-md-6">
                    @Html.Raw(HomePage.EnContent)
                </div>
                <div class="col-md-6 mt-md-0 mt-30">
                    <img src="@Config.AssetsDomain@HomePage.ArPicture" class="img-fluid object-fit-cover w-100 rounded" />
                </div>
            </div>


            <div class="col-12 mt-30">
                <div class="ratio ratio-16x9 rounded overflow-hidden">
                                        <iframe src="@Config.VideoURLEmbed@HomePage.EnYoutubeVideo?rel=0" title="YouTube video" allowfullscreen></iframe>
                </div>
            </div>
        }
        else
        {
            
        }

    </div>
</div>

<div class="ceo__details__container pe-0 ps-0 bg-off-white py-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-11 mx-auto">
                <div class="heading heading__line">
                    <h1>
                        The brilliant team behind Comedy Factory
                    </h1>
                </div>
                <div class="row align-items-center justify-content-start mt-50">
                    @if (Masterwithoutcategory != null)
                    {
                        @foreach (var item in Masterwithoutcategory)
                        {
                            <div class="col-lg-4">
                                <img src="@Config.AssetsDomain@item.EnPicture" class="img-fluid object-fit-cover w-100" />
                            </div>

                            <div class="col-lg-8 col-md-6 mt-md-0 mt-30 ceo__details">
                                <div class="px-md-0 px-30">

                                    <div class="heading">
                                        <h1>@item.EnName</h1>
                                    </div>
                                    <div class="description mt-30">
                                        @Html.Raw(item.EnContent)

                                    </div>
                                </div>

                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="teachers mt-lg-70 mt-50">
    <div class="container">
        @if (mastersCategories != null)
        {
            <div class="row">
                @foreach (var item in mastersCategories)
                {
                    <div class="col-xl-10 col-lg-11 mx-auto mb-50">

                        <div class="heading heading__line">
                            <h2> @item.EnName</h2>
                        </div>
                        <div class="row mt-lg-70 mt-50">

                            @foreach (var item2 in masters.Where(e => item.Id == e.MasterCategoryId))
                            {
                                <div class="col-lg-4 col-md-6 px-10 mb-md-0 mb-30">
                                    <div class="bg-off-white rounded">
                                        <div class="text-center custom__profile pt-50 position-relative">
                                            <span class="long__circle"></span>
                                            <span class="red__circle"></span>
                                            <span class="yellow__circle"></span>
                                            <img src="@Config.AssetsDomain@item2.EnPicture?w=228&h=228&mode=pad&bgcolor=#e2f2f9" alt="teacher" class="img-fluid object-fit-contain" />
                                        </div>
                                        <div class="p-20">
                                            <div class="heading">
                                                <h2>  @item2.EnName</h2>
                                            </div>
                                            <div class="description mt-30">
                                                @Html.Raw(item2.EnContent)
                                               
                                                <div class="text-center">
                                                    <button hidden class="toggle text-white btn btn-info"
                                                            @if (Html.Raw(item2.EnContent.ToString().Trim()).ToString().Split(' ').Length < 50)
                                                            {
                                                             }
            >
                                                             Read More
                                                     </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
<div class="mt-lg-70 mt-50">

    <div class="container">
        <div class="heading heading__line">
            <h2>
                Take the first step towards achieving your dream and becoming a comedy star!
                <br />
                Sign Up Now
            </h2>
        </div>
        <div class="row mt-50">
            <div class="col-xl-10 col-lg-11 mx-auto">
                <div class="row justify-content-center">

                    @if (activitiesHome != null)
                    {
                        @foreach (var activity in activitiesHome)
                        {
                            <div class="col-lg-4 col-md-5 px-10 mt-md-0 mt-30">
                                <div class="px-30 py-50 bg-off-white text-center">
                                    <div class="heading">
                                        <h3 class="d-flex flex-column text-center align-items-center gap-30">
                                            <img src="@Config.AssetsDomain@activity.Picture" alt="" width="60" height="80" />
                                            <span>@activity.EnName</span>
                                        </h3>
                                    </div>
                                    <a asp-action="Register" asp-controller="Home" asp-route-language="en" class="btn btn-primary text-white w-100 mt-50">Sign Up Now</a>
                                </div>
                            </div>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="mx-auto text-center my-50">
        <div> For more information, email us at: <a href="mailto:info@sauditheaters.com" class="text-link text-primary">info@sauditheaters.com</a></div>
    </div>
</div>

@section Scripts {
    <script>
        $(() => {
            $(".extra").hide();
            $(".toggle").click(function () {
                var $this = $(this);
                var $content = $this.parent().prev(".extra");

                $content.slideToggle(function () {
                    $this.text($content.is(":visible") ? "Read Less " : "Read More ");
                });
            });
        });
    </script>
}