@model MasterVM

@{
    ViewData["Title"] = _localizer["Edit"];
    ViewData["Main"] = _localizer["Master"];
}
<div class="content-wrapper">
    <div class="page-title">
        <span class="title-data" data-main='@(ViewData["Main"])'>@ViewData["Title"]</span>
    </div>
    <div class="card main-card w-100">
       <div class="card-body">
            <form asp-action="Edit">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(e=>e.Id)

                <div class="form-group row">
                    <label asp-for="MasterCategoryId" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        <select asp-for="MasterCategoryId" asp-items="ViewBag.mastercategory" class="form-control">
                            <option value="">None</option>
                        </select>
                        <small><span asp-validation-for="MasterCategoryId" class="form-text text-danger"></span></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="ArName" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        <input asp-for="ArName" class="form-control" />
                        <small><span asp-validation-for="ArName" class="form-text text-danger"></span></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="EnName" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        <input asp-for="EnName" class="form-control" />
                        <small><span asp-validation-for="EnName" class="form-text text-danger"></span></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="ArPicture" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        @Html.EditorFor(model => model.ArPicture)
                        <small><span asp-validation-for="ArPicture" class="form-text text-danger"></span></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="EnPicture" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        @Html.EditorFor(model => model.EnPicture)
                        <small><span asp-validation-for="EnPicture" class="form-text text-danger"></span></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="ArContent" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        @Html.EditorFor(model => model.ArContent)
                        <small><span asp-validation-for="ArContent" class="form-text text-danger"></span></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="EnContent" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        @Html.EditorFor(model => model.EnContent)
                        <small><span asp-validation-for="EnContent" class="form-text text-danger"></span></small>
                    </div>
                </div>





                <div class="form-group row">
                    <label asp-for="DisplayOrder" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input asp-for="DisplayOrder" type="text" class="touchspin touchspin-sm" >
                        <small><span asp-validation-for="DisplayOrder" class="form-text text-danger"></span></small>
                    </div>
                </div>

                <div class="form-group  row">
                    <label asp-for="Hidden" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" asp-for="Hidden" class="custom-control-input">  
                            <span class="custom-control-label"></span>
                            <label class="custom-control-description" asp-for="Hidden"></label>
                        </label>
                    </div>
                </div>
                <input type="hidden" asp-for="CreatedOnUtc" value="@Model.CreatedOnUtc" />
                <input type="hidden" asp-for="UpdatedOnUtc" value="@Extantion.AddUtcTime()" />

                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-primary" value="@_localizer["Save"]" />
                    <a asp-action="Index" class="btn btn-secondary d-inline-block ml-3">@_localizer["Cancel"]</a>
                </div>
            </form>
       </div>
    </div>
</div>